.filter-wrapper
   width: 100%
   padding: 10px 0px
   margin-bottom: 20px
   &__buttons
      display: flex
      margin-bottom: 20px
      button
         margin-right: 10px

.woocommerce .woocommerce-ordering select
   border: 1px solid #EAEAF0
   border-radius: 4px
   padding: 13.5px 20px

.widget-title
   margin-bottom: 20px
.woocommerce .widget_price_filter .ui-slider .ui-slider-range
   background-color: #2A5275

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle
   background-color: #fff
   border: 1px solid #2A5275

.select2-results__option--highlighted
   transition: 0.3s

.select2-results__option--highlighted[data-selected]
   transition: 0.3s
   background-color: #2A5275 !important

.woocommerce-pagination
   margin-bottom: 20px

.woocommerce .woocommerce-result-count
    margin-top: 20px