.product-item
   &__price
      font-weight: 700
      font-size: 24px
      line-height: 130%
      color: #070C11
   &__wrapper
      display: flex
      margin-bottom: 40px
   &__info
      width: 50%
      padding: 0px 20px

.product-images
   width: 50%

.product-gallery
   &__slide
      img
         width: 56px
         height: 56px
   &__prev
      position: absolute
   &__next
      position: absolute
            
